:root {
  --color-background: #435476;
  --color-text-grey: #1a1a1a;
  --color-text-mobile-menu: #3a3a3a;
  --color-icon-mobile-menu: #2e2129;
  --color-text-light-grey: #999;
  --color-text-red: #e20000;
  --color-white: #ffffff;
  --color-background-mobile-header: #eaebed;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@font-face {
  font-family: "Tharlon";
  src: url("fonts/Tharlon-Regular.ttf") format("ttf"),
    url("fonts/Tharlon-Regular.woff") format("woff"),
    url("fonts/Tharlon-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Regular.ttf") format("truetype"),
    url("fonts/Barlow-Regular") format("woff"),
    url("fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Medium.ttf") format("truetype"),
    url("fonts/Montserrat-Medium.woff") format("woff"),
    url("fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf") format("truetype"),
    url("fonts/Poppins-Regular.woff") format("woff"),
    url("fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "The Nautigal";
  src: url("fonts/TheNautigal-Regular.ttf") format("truetype"),
    url("fonts/TheNautigal-Regular.woff") format("woff"),
    url("fonts/TheNautigal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tenor Sans";
  src: url("fonts/TenorSans-Regular.ttf") format("truetype"),
    url("fonts/TenorSans-Regular.woff") format("woff"),
    url("fonts/TenorSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Tharlon", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  outline: transparent;
  transition: transform var(--transition);
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

/**-----Header-----**/
.header {
  background-color: var(--color-background);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-white);
  padding-bottom: 12px;
  padding-top: 18px;
  flex-wrap: wrap;
}

.burger-btn {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: var(--color-white);
  border-radius: 50%;
  border: none;
  align-items: center;
  justify-content: center;
  outline: transparent;
  transition: transform var(--transition);
  cursor: pointer;
}
.burger-btn:hover,
.burger-btn:focus {
  transform: scale(1.3);
}

.burger-icon {
  stroke: var(--color-text-grey);
}

.header-nav {
  display: none;
}

.header-list {
  display: flex;
  gap: 15px;
}

.header-item {
  transition: transform var(--transition);
}
.header-item:hover,
.header-item:focus {
  transform: scale(1.3);
}
.header-item-link {
  color: var(--color-white);
  font-size: 18px;
  transition: transform var(--transition);
}
.name-collection-header {
  font-size: 16px;
  color: var(--color-white);
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: lowercase;
  position: relative;
}
.name-collection-header::before {
  content: "";
  position: absolute;
  top: 64px;
  left: -25px;
  width: 1px;
  height: 16px;
  background-color: currentColor;
  display: none;
}
.name-collection-header::after {
  content: "";
  position: absolute;
  top: 64px;
  right: -25px;
  width: 1px;
  height: 16px;
  background-color: currentColor;
  display: none;
}

.header-icon-item {
  transition: transform var(--transition);
}

.header-icon-item:hover,
.header-icon-item:focus {
  transform: scale(1.3);
}
.contact {
  display: none;
}
.contact:hover,
.contact:focus {
  transform: scale(1.3);
}

.header-icon-list {
  display: flex;
  gap: 4px;
}
.header-icon {
  stroke: var(--color-white);
  fill: transparent;
  width: 24px;
  height: 24px;
}
/**-----Mobile Menu-----**/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 390px;
  background-color: var(--color-white);
  z-index: 9;
  transform: translateX(-100%);
  transition: transform var(--transition);
  overflow: auto;
  height: 100%;
}

.mobile-menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-close-btn {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  outline: transparent;
  background-color: transparent;
  border: none;
  text-align: center;
}
.mobile-menu-header {
  background-color: var(--color-background-mobile-header);
  color: var(--color-text-mobile-menu);
  padding-top: 25px;
}
.mobile-menu-header-text {
  display: none;
}

.mobile-menu-close-icon {
  stroke: var(--color-icon-mobile-menu);
  transition: transform var(--transition);
}

.mobile-menu-close-icon:hover,
.mobile-menu-close-icon:focus {
  transform: scale(1.5);
}
.mobile-menu-list {
  margin-bottom: 95px;
}
.header-nav-mob {
  display: block;
}

.header-item-link-mob {
  padding: 20px;
  border-bottom: 1px solid var(--color-white);
  color: var(--color-text-mobile-menu);
  font-size: 24px;
  letter-spacing: 2.4px;
  text-transform: capitalize;
  transition: transform var(--transition);
  display: flex;
  justify-content: space-between;
}
.mobile-menu-link {
  padding: 20px;
  border-bottom: 1px solid var(--color-background-mobile-header);
  color: var(--color-text-mobile-menu);
  font-size: 24px;
  letter-spacing: 2.4px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  transition: transform var(--transition);
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  transform: scale(1.05);
}
.mobile-menu-more-icon {
  stroke: #a1a1a1;
  fill: transparent;
  transition: stroke var(--transition);
}
.mobile-menu-more-icon:hover,
.mobile-menu-more-icon:focus,
.mobile-menu-more-icon.current {
  stroke: var(--color-icon-mobile-menu);
  fill: transparent;
}
.contact-menu {
  padding-left: 20px;
  margin-bottom: 80px;
  font-family: "Montserrat";
  font-size: 24px;
  display: block;
  color: var(--color-text-mobile-menu);
  transition: transform var(--transition);
}
.follow-us-text-menu {
  color: var(--color-text-mobile-menu);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 1.6px;
}
.soc-button-menu-icon {
  fill: var(--color-text-mobile-menu);
}
.soc-button-menu-icon:hover {
  fill: var(--color-background);
}
.follow-us-menu {
  display: flex;
  padding-left: 20px;
  gap: 24px;
  margin-bottom: 40px;
}
.sale-card {
  margin-left: 20px;
  display: block;
  position: relative;
  margin-bottom: 40px;
  width: 350px;
  height: 178px;
  background-color: var(--color-background);
  border: 2px dashed #98a9ca;
}
.max {
  width: 89px;
  height: 89px;
  border-radius: 50%;
  background-color: var(--color-white);
  position: absolute;
  top: 15px;
  right: 20px;
}

.text-time {
  color: var(--color-white);
  text-align: center;
  font-family: "The Nautigal";
  font-size: 115px;
  letter-spacing: 11.5px;
  text-transform: capitalize;
  position: absolute;
  top: 15px;
  left: 0;
}
.text-sale {
  color: #98a9ca;
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 100px;
  letter-spacing: 1px;
  text-transform: capitalize;
  position: absolute;
  right: 20px;
  bottom: 16px;
}

.text-max-wrapper {
  position: relative;
}

.text-max {
  color: var(--color-background);
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  text-transform: capitalize;
  position: absolute;
  top: 12px;
  left: 19px;
}

.text-card-sale {
  color: var(--color-background);
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  position: absolute;
  top: 27px;
  left: 15px;
}

.text-percent {
  color: var(--color-background);
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  text-transform: capitalize;
  position: absolute;
  top: 27px;
  right: 19px;
}

.text-off {
  color: var(--color-background);
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  text-transform: capitalize;
  position: absolute;
  right: 5px;
  top: 43px;
}

/**-------Main-------**/

/* -----Hero---*/
.hero {
  max-width: 100%;
  background-color: var(--color-background);
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}
.img-collection-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}
.img-collection-img-main {
  display: block;
  width: 350px;
}
.img-collection-img {
  display: block;
  width: 280px;
  height: auto;
}
.img-collection-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: calc((100% - 20px) / 2);
  color: var(--color-white);
}
.caption-product {
  font-family: TharLon;
  font-size: 29px;
  font-weight: 400;
}
.caption-wrapper {
  position: relative;
}
.description {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 400;
}
.sale-price {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: baseline;
}

.new-price {
  font-size: 29px;
}

.old-price {
  font-size: 22px;
  text-decoration-line: line-through;
  color: rgba(255, 255, 255, 0.5);
}
.caption {
  position: absolute;
  top: 186px;
  color: var(--color-white);
  font-size: 59px;
  letter-spacing: 2.95px;
}
.link-see:before {
  content: "";
  width: 62px;
  height: 1px;
  background-color: currentColor;
  display: block;
  margin-bottom: 10px;
}

.link-see {
  color: var(--color-white);
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1.3px;
  position: absolute;
  top: 390px;
  transition: transform var(--transition);
}
.link-see:hover {
  transform: scale(1.3);
}
.second-theme,
.first-theme {
  display: none;
}

.second-theme.is-open,
.first-theme.is-open {
  display: block;
}

.swiper-hero {
  margin-bottom: 80px;
}

.icon-arrow {
  stroke: var(--color-white);
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination-list {
  display: flex;
  gap: 25px;
  align-items: baseline;
}

.btn-pagination {
  cursor: pointer;
  outline: transparent;
  background-color: transparent;
  border: none;
  text-align: center;
  color: var(--color-white);
  text-align: center;
  font-size: 26px;
  letter-spacing: 1.3px;
  transition: font-size var(--transition);
  cursor: pointer;
}
.btn-pagination.current,
.btn-pagination:hover,
.btn-pagination:focus {
  font-size: 30px;
}

.arrows {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.arrow-next,
.arrow-prev {
  stroke: var(--color-white);
  transition: transform var(--transition);
  cursor: pointer;
}
.arrow-next:hover,
.arrow-prev:hover,
.arrow-next:focus,
.arrow-prev:focus {
  transform: scale(1.3);
}
/* -----New Collection---*/
.section-text {
  color: var(--color-text-grey);
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.section-title {
  color: var(--grey-900, #1a1a1a);
  font-size: 48px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 48px;
}
.new-collection-container {
  width: 100%;
  margin: 0 auto;
}

.new-collection-img {
  display: block;
  width: 376px;
  height: 524px;
}

.img-text-container {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 10px;
  margin: 0 auto;
}
.new-collection-name {
  color: var(--color-text-grey);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 3.84px;
  text-transform: uppercase;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.link-view {
  display: inline-block;
  color: var(--color-text-grey);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  transition: transform var(--transition);
  cursor: pointer;
}
.link-view::after {
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: var(--color-text-grey);
  display: block;
  position: absolute;
  top: 16px;
  bottom: 0;
  left: 0;
  right: 0;
}
.link-view:hover,
.link-view:focus {
  transform: scale(1.3);
}

/**---- Weekly's best----**/
.container-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
  flex-direction: column;
  align-items: center;
}

.btn {
  color: var(--color-text-grey);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  display: block;
  width: 80px;
  padding: 12px 24px;
  background-color: var(--color-white);
  cursor: pointer;
  border: 1px solid var(--color-text-grey);
  outline: transparent;
  transition: transform var(--transition), box-shadow var(--transition);
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-text::after {
  content: "";
  display: block;
  width: 16px;
  height: 1px;
  background-color: currentColor;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  align-items: stretch;
}
.product-item-img {
  display: block;
  width: 100%;
  height: 471px;
  object-fit: cover;
}
.product-item {
  max-width: 100%;
  position: relative;
  transition: transform var(--transition), box-shadow var(--transition);
}
.product-item:hover,
.product-item:focus {
  transform: scale(1.01);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-mark {
  background-color: var(--color-background);
  position: absolute;
  top: 436px;
  left: 0;
  width: 82px;
  height: 20px;
}
.card-mark-text {
  color: var(--color-white);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 4px 8px 4px 40px;
  position: relative;
}
.card-mark-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  width: 23px;
  height: 1px;
  background-color: currentColor;
}

.brand {
  color: var(--color-text-light-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.price-text {
  color: var(--color-background);
  font-size: 18px;
  line-height: 28px;
}

.new-price-red {
  color: var(--color-text-red);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
}

.old-price-grey {
  color: var(--color-text-light-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  text-decoration-line: line-through;
}

.overlay {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.cover {
  display: flex;
  gap: 14px;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition);
}
.product-item:hover .cover,
.product-item:focus .cover {
  transform: translateY(0);
  opacity: 1;
}
.product-icon {
  stroke: var(--color-text-grey);
  fill: transparent;
}
.product-icon:hover {
  fill: var(--color-text-grey);
}
/**---- Subscribe----**/
.subscribe {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  background-color: var(--color-background);
}
.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 38px;
}
.subsribe-text-name {
  color: var(--color-white);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.subsribe-text-desc {
  color: #e5e5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
}
.subscribe-form {
  display: flex;
  max-width: 648px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}
.subscribe-button {
  background-color: transparent;
  border: none;
}
.subscribe-input {
  background-color: transparent;
  border: none;
  outline: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: var(--color-white);
}
.subscribe-input::placeholder {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}
.subscribe-input:focus {
  outline: none;
  border-color: none;
}
.subscribe-button-icon {
  stroke: var(--color-white);
  fill: transparent;
}
/**---- Footer----**/
.footer {
  background-color: var(--color-background);
}
.footer-blocks-wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 68px;
  padding-bottom: 80px;
}
.footer-blocks {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 20px;
}

.footer-blocks-name {
  color: var(--color-white);
  font-size: 24px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 3.84px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.name-collection {
  font-size: 40px;
  color: var(--color-white);
  font-family: "Tenor Sans";
  font-style: normal;
  letter-spacing: 3.2px;
  text-transform: lowercase;
  margin-bottom: 24px;
}
.footer-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-contacts-item {
  display: flex;
  gap: 12px;
  transition: transform var(--transition);
}
.footer-contacts-item:hover,
.footer-contacts-item:focus {
  transform: scale(1.1);
}
.footer-contacts-link {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  font-style: normal;
  cursor: pointer;
}
.footer-item {
  margin-bottom: 8px;
  transition: transform var(--transition);
}
.footer-item:hover,
.footer-item:focus {
  transform: scale(1.1);
}
.footer-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--color-white);
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.75;
  padding-top: 24px;
  padding-bottom: 24px;
}
.follow-us {
  display: flex;
  gap: 24px;
}
.follow-us-text {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.soc-icon-list {
  display: flex;
  gap: 24px;
}
.soc-button-icon {
  fill: var(--color-white);
  transition: transform var(--transition);
}

.soc-button-icon:hover,
.soc-button-icon:focus {
  transform: scale(1.2);
}

/*--- Media  ---*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header-container {
    padding-bottom: 14px;
    padding-top: 20px;
  }
  .header-nav {
    display: block;
    align-items: center;
  }
  .header-nav-mob {
    display: none;
  }
  .name-collection-header {
    font-size: 24px;
    letter-spacing: 2.2px;
  }

  .header-icon-list {
    gap: 8px;
  }
  .header-icon {
    width: 32px;
    height: 32px;
  }
  .mobile-menu-container {
    width: 528px;
    background-color: var(--color-white);
  }
  .mobile-menu-header-text {
    display: block;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    padding-bottom: 25px;
  }
  .sale-card {
    width: 478px;
  }
  .max {
    right: 40px;
  }
  .text-time {
    left: 39px;
  }
  .text-sale {
    right: 80px;
  }
  .hero {
    padding-top: 80px;
  }
  .img-collection-img-main {
    width: 530px;
  }
  .img-collection-img {
    width: 330px;
  }
  .container-btn {
    flex-direction: row;
    gap: 32px;
  }
  .link-see {
    top: 321px;
  }
  .btn {
    min-width: 151px;
  }
  .product-item {
    max-width: calc((100% - 32px) / 2);
  }
  .footer-blocks {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-footer {
    flex-direction: row;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .section {
    padding-top: 44px;
    padding-bottom: 44px;
  }
  .header-container {
    padding-bottom: 18px;
    padding-top: 24px;
  }
  .header-container {
    padding-bottom: 32px;
    padding-top: 38px;
  }
  .burger-btn {
    width: 40px;
    height: 40px;
  }

  .hero {
    padding-top: 110px;
  }
  .name-collection-header {
    font-size: 32px;
    letter-spacing: 2.8px;
  }
  .name-collection-header::before {
    content: "";
    top: 54px;
    left: -25px;
    height: 16px;
    background-color: currentColor;
    display: block;
  }
  .name-collection-header::after {
    content: "";
    top: 54px;
    right: -25px;
    height: 16px;
    background-color: currentColor;
    display: block;
  }
  .contact {
    font-size: 16px;
    display: block;
    color: var(--color-white);
    transition: transform var(--transition);
  }
  .contact-menu {
    display: none;
  }
  .header-icon-list {
    gap: 12px;
  }
  .header-icon {
    width: 32px;
    height: 32px;
  }
  .hero {
    padding-top: 133px;
  }
  .img-collection-list {
    justify-content: center;
    gap: 20px;
    flex-direction: row;
  }
  .img-collection-img-main {
    width: 670px;
  }
  .img-collection-img {
    width: 450px;
  }
  .product-item {
    max-width: calc((100% - 2 * 32px) / 3);
  }
  .subscribe-wrapper {
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 48px;
    flex-direction: row;
  }
}

@media screen and (min-width: 1630px) {
  .container {
    max-width: 1630px;
  }
  .header-list {
    gap: 35px;
  }
  .header-container {
    padding-bottom: 22px;
    padding-top: 28px;
  }

  .name-collection-header {
    font-size: 40px;
    letter-spacing: 3.2px;
  }
  .name-collection-header::before {
    content: "";
    top: 64px;
    left: -55px;
    height: 16px;
    background-color: currentColor;
  }
  .name-collection-header::after {
    content: "";
    top: 64px;
    right: -55px;
    height: 16px;
    background-color: currentColor;
  }

  .contact {
    font-size: 20px;
    margin-right: 120px;
  }
  .header-icon-list {
    gap: 32px;
  }
  .header-icon {
    width: 40px;
    height: 40px;
  }
  .img-collection-img-main {
    width: 770px;
    height: 660px;
  }
  .img-collection-img {
    width: 560px;
    height: 448px;
  }
  .product-item {
    max-width: calc((100% - 3 * 32px) / 4);
  }
}
